<div class="border is-flex is-justify-content-center is-align-items-center is-fullheight p-4">
    <a id="hosted-link" target="_blank"></a>
    <img id='image-preview' class="is-hidden" />
    <audio id='audio-preview' class="is-hidden"></audio>
    <video id='video-preview' class="is-hidden"></video>
</div>