<div class="field mt-5">
    <label class="is-size-7" for="password">access password</label>
    <p class="control has-icons-left">
        <input class="input  is-danger mb-4" type="password" name="password" placeholder="required">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
    </p>
</div>