<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- font-awesome --}}
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  {{!-- bulma CSS --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  {{!-- local CSS --}}
  <link rel="stylesheet" href="/css/style.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">

  <title>sjf File Uploader</title>
</head>

<body class="flex-column justify-space-around px-5">

  <header class="level is-mobile has-text-centered px-5 mt-5">
    <div class="level-left">
      <div class="level-item">
        <p>upload media to
          <a href="https://cloudinary.com/" target="_blank">cloudinary</a>
        </p>
      </div>
    </div>
    <div class="level-right">

      <p class="level-item">
        <a href="https://github.com/samuelfox1/sjf-file-uploader" target="_blank">
          <i class="fab fa-github-square"></i>
        </a>
      </p>
    </div>
  </header>

  <main>
    <div class="box my-0">
      {{{ body }}}
    </div>
  </main>

  <script src="/js/script.js"></script>
</body>

</html>