<<<<<<< Updated upstream
header{
    min-height: 5vh;
}
main {
    min-height: 70vh;
=======
header {
    height: 5vh;
}
main {
    min-height: 65vh;
>>>>>>> Stashed changes
}

#image-preview, #video-preview {
    max-width: 400px;
    max-height: 400px;
}

input, img {
    border-radius: 6px;
}

.border {
    border: solid rgba(0, 0, 0, 0.521) 1px;
    border-radius: 1em;
}

.is-fullheight {
    min-height: 94%;
}

<<<<<<< Updated upstream
a i {
    font-size: 3em;
=======
.heroku-icon{
    content: url('../assets/heroku-logo-solid-purple.png');
    max-width: 125px;
}

a i {
    font-size: 5em;
>>>>>>> Stashed changes
}